/*
*global css
*/
.titleClass {
    text-align: center;
}

.mu-avatar img {
    border: 3px solid;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/css/font/Roboto-Regular.ttf') format('truetype')
}